<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <h1>Welcome to the Weather Tracker</h1>
  <p>This project serves as a way for me to practice backend development. In this project
    <br > you will be able to login via an email and password, track weather personalized to your
    <br > needs, and more.
    <br > <br > Below you can sign up if you are new, login, or try the app without signing in.
  </p>
  <div id="buttonContainer">
    <button class="button-22">
        <a href="/public">Try without logining in</a>
    </button>
    <button class="button-22">
      <a href="/login">Login</a>
    </button>
    <button class="button-22">
      <a href="/signup">Sign Up</a>
    </button>
  </div>
  <div id="imageContainer">
    <img src="https://media.cleveland.com/weather/blog_impact/photo/sept-13-titlegif-4c9ca56caa9ad1c5.gif" alt="GIF of weather map.">
  </div>
</body>
</html>